defmodule AdventOfCode.<%= @module %> do
  use AdventOfCode.Day

  @moduledoc """
  https://adventofcode.com/<%= @year %>/day/<%= @day %>
  """

  @spec solve_first(any) :: any
  def solve_first(input) do
    input
  end

  @spec solve_second(any) :: any
  def solve_second(input) do
    input
  end

  def read_input do
    File.read!("<%= @input_path %>")
  end
end
