defmodule AdventOfCode.<%= @module %>Test do
  use ExUnit.Case, async: true
  alias AdventOfCode.<%= @module %>, as: Solver

  @sample_input """
  """

  test "first stage sample" do
    # TODO: Solve first sample
    assert Solver.solve_first(@sample_input) == true
  end

  # Remove :skip tag when answer found
  @tag :skip
  test "first stage" do
    assert Solver.solve_first()
  end

  @tag :skip
  test "second stage sample" do
    assert Solver.solve_second(@sample_input) == true
  end

  @tag :skip
  test "second stage" do
    assert Solver.solve_second()
  end
end
